---
BasedOnStyle: WebKit

AlignConsecutiveAssignments: true
ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
PointerAlignment: Right
ReflowComments: false
SortIncludes: true
UseTab: Never
---
